:root {
  --primary-color: rgb(64, 112, 136, 0.7);
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 8px rgba(0, 0, 0, 0.25);
}

.navbar {
  background-color: rgb(19, 39, 67);
}

.navbar-logo {
  width: 40px;
}
.my-info {
  margin-top: 110px;
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  box-shadow: inset;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.my-btn {
  border-radius: 4px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.my-btn-cer {
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.my-btn-cer:hover {
  background: rgb(250, 251, 252, 0.5);
  box-shadow: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.my-btn:hover {
  padding: 13px 8px;
  background: rgb(250, 251, 252, 0.5);
  box-shadow: none;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.apps {
  margin: 50px;
}
.computer-gif {
  width: 8%;
  display: block;
  margin: 0 auto;
}
.app-info-text-bg {
  background-color: rgb(255, 181, 181, 0.6);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.app-pic1 {
  max-width: 100%;
  max-height: auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  display: block;
  margin: 0 auto;
}
.app-pic2 {
  width: 70%;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.app-info-text {
  width: 100%;
}
.about-paragraphs {
  width: 65%;
  margin: 30px auto;
  display: block;
  background-color: rgb(255, 181, 181, 0.6);
  border-radius: 10px;
  padding: 30px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.theCoder {
  text-align: center;
  font-family: "Dancing Script", cursive;

  font-size: 120%;
  padding: 25px;
  background-color: rgb(19, 39, 67);
  color: white;
  border-radius: 10px 10px 0 0;
  margin-top: 30px;
}
.theCoder a {
  font-family: "Dancing Script", cursive;
}
.app-icon {
  text-decoration: none;
  color: white;
}
body {
  background-color: #f7f3f3 !important;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

p,
a {
  font-family: "EB Garamond", serif;
  font-size: 110%;
}
/* certificates page*/
.cer-bg {
  background-color: rgb(19, 39, 67);
  border-radius: 10px;
}
.certificates {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
